:root{
    --main-color:#CFF80B;
    --main-bg-color:#1E1E1E;
    --main-font-color:#FFFFFF;
}
.container{
    background-color: transparent;
    height: calc(100% - 30px);
  
}
.container .column{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 30px 20px 30px;
   
}

.column .head{
    font-size: large;
    font-weight: bolder;
}

.close button{
    background-color: var(--main-bg-color); 
    cursor: pointer;
    border: none;
}


.searchToken{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    height: 35px;
    margin: 0px 30px;
    background-color: var(--main-color);
    border-radius: 10px;
}

.searchToken input{
    height: 100%;
    width: 80%;
    outline: none;
    border: none;
    background-color: transparent;
    color: red;
    font-size: medium;
    
}

.allTokens{
    display: grid;
    grid-template-columns: auto auto auto ;
    box-sizing: border-box;
    margin: 10px 30px;
    overflow-y: scroll;
    height: calc(100% - 40%);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 10px var(--main-bg-color);
}

.allTokens button{
    margin: 5px ;
    padding: 5px 0px;
    box-sizing: border-box;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid 2px var(--main-color);
    background-color: transparent;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    transition-duration: 0.1s;
    transition-timing-function: ease;
}

.allTokens img{
    background-color: var(--main-font-color);
    border: solid 1px var(--main-bg-color);
    border-radius: 30px;
}
.allTokens button:hover{
    box-shadow: 0px 0px 3px 0px var(--main-color);
   

}

.searchToken :focus{
     background-color: #d6ff328f;
     border-radius: 5px;
}


@media screen and (max-width:450px) {
    .allTokens{
        grid-template-columns: auto auto auto;
    }
    .allTokens button:hover{
        box-sizing: 0;
    }
}

button:checked {
     background-color: #CFF80B;
}

